{% extends "home/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5">
	<!-- Header Section -->
	<div class="text-center mb-5">
		<h3 class="text-dark green-underline" style="font-size: 3.5rem">Company Profile</h3>
		<i class="lead text-muted">STEM MEDICA is an Ethiopian registered company dedicated to distributing devices, across Ethiopia. We offer high-quality and affordable medical solutions.</i>
	</div>

	<!-- About the Company Section -->
	<div class="mb-4">
		<div><h4 class="text-uppercase text-success text-center">About Us</h4></div>

		<p>STEM MEDICA እስቲም ሜዲካ was founded in 2023 GC with an initial capital investment of 100,000.00 USD. The founder, Mr. Geremew Zewdie, a biomedical engineer and visionary entrepreneur, is committed to advancing the medical distribution.</p>
		<p>Our goal is to work closely with professionals, and key stakeholders to ensure the healthcare system benefits from the latest technologies.</p>
	</div>

	<!-- Objective Section -->
	<div class="mb-4">
		<h4 class="text-success text-center text-uppercase">1. General Objective</h4>
		<p>
			Our mission is to make medical equipment, supplies, and technologies easily accessible to the Ethiopian market, with a focus on prevention and control of diseases. We are committed to enhancing the healthcare sector with the latest medical
			solutions.
		</p>
	</div>

	<!-- Vision Section -->
	<div class="mb-4">
		<h4 class="text-success text-center text-uppercase">2. Vision</h4>
		<p>STEM MEDICA’s vision is to become a renowned and respected supplier of medical equipment and devices. We aim to transition into manufacturing and contribute to the long-term growth of Ethiopia's healthcare market.</p>
	</div>

	<!-- Mission Section -->
	<div class="mb-4">
		<h4 class="text-success text-uppercase text-center">3. Mission</h4>
		<p>Our mission is rooted in the belief that customers are the most valuable assets of the company. We strive to provide excellent service and ensure satisfaction by:</p>
		<div class="">
			<ul class="list-unstyled pl-4">
				<li class=""><i class="bi bi-check-circle"></i> <span>Meeting customer demands swiftly and ethically.</span></li>
				<li><i class="bi bi-check-circle"></i> <span>Providing goods and services in a timely manner.</span></li>
				<li><i class="bi bi-check-circle"></i> <span> Collaborating to improve the efficiency of the system.</span></li>
				<li><i class="bi bi-check-circle"></i> <span>Introducing modern technology to meet customer needs.</span></li>
				<li><i class="bi bi-check-circle"></i> <span> Coordinating with the healthcare and pharmaceutical &ThinSpace;; industries to bridge the supply-demand gap.</span></li>
			</ul>
		</div>
	</div>

	<!-- Values Section -->
	<div class="mb-5">
		<h4 class="text-success text-uppercase text-center">4. Values</h4>
		<p>Our core values revolve around customer satisfaction, loyalty, and excellence. We focus on the following principles to guide our operations:</p>
		<ul class="list-unstyled">
			<li><i class="bi bi-check-circle"></i> Customer Loyalty</li>
			<li><i class="bi bi-check-circle"></i> Quality products and services</li>
			<li><i class="bi bi-check-circle"></i> Efficiency and reliability</li>
			<li><i class="bi bi-check-circle"></i> Honesty and integrity</li>
			<li><i class="bi bi-check-circle"></i> Respect and civility in interactions</li>
		</ul>
	</div>

	<!-- Footer Section (Optional) -->
	<footer class="text-center mt-5">
		<p class="text-muted pb-3 green-underline" style="font-size: 1.1rem">&copy; 2024 STEM MEDICA. All rights reserved.</p>
	</footer>
</div>
{% endblock content %}
